@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-inline-section: 100px;
}


body{
    font-family: Roboto;
}

ul{
    list-style: none;
}

hr{
    color: #cbcaca73;
}

u{
    cursor: pointer;
}

/* ------------------Utility Class------------------- */

.full-screen{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.container{
    max-width: 1180px;
    width: 700px;
    position:absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
}

.button{
    text-decoration: none;
    font-style: normal;
    color: #117ce8;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
}

.button-icon{
    vertical-align: middle !important;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

.white{
    color: white;
}

/* -----------------Nav Section-----------------  */

.nav-section{
    z-index: 1;
    width: 100%;
    height: 44px;
    background-color: #292828;
    opacity: 0.95;
    position: fixed;
}

.links{
    width: 90%;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    /* padding: 0 var(--padding-inline-section); */
    color: #dbdbdb;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 14px;
}

.link{
    cursor: pointer;
}

/* ------------------Hero Section------------------ */

.hero-section{
    background-image: url(/assets/asset1.jpeg);
}

.hero-container{
    top: 65%;
}

.hero-heading{
    font-size: 55px;
    font-weight: 500;
}


.hero-sub-heading{
    font-size: 25px;
}

.hero-text{
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
   color: #707071;
}

/* --------------------iphonepro-section----------------- */

.ipro-section{
    background-image: url(/assets/asset2.jpeg);
}

.ipro-heading{
    color: white;
    font-size: 75px;
}

.ipro-subheading{
    color: white;
    font-size: 38px;
    padding: 5px 0 20px;
}


/* -------------------- Iphone-section ---------------- */

.iphone-section{
    background-image: url(/assets/asset3.jpeg);
}

.iphone-heading{
    font-size: 75px;
}

.iphone-subheading{
    font-size: 38px;
    padding: 5px 0 20px;
}

/*----------------- products-section -----------------*/

.products-section{
    display: flex;
    justify-content: space-evenly;
}

.products-left{
    width: 48%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.products-right{
    width: 48%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.products1-left{
    background-image: url(assets/asset\ 7.jpeg);
}

.products1-right{
    background-image: url(assets/asset\ 9.jpeg);
}

.product1{
    color: white;
}

.product-header{
    font-size: 28px;
    font-weight: 500;
}

.product-sub-header{
    font-size: 14px;
}

.product-text{
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
    width: 63%;
    text-align: center;
}

.products2-left{
    background-image: url(assets/asset\ 14.jpeg);
}

.products2-right{
    background-image: url(assets/asset\ 10.jpeg);
}


/* -----------------Products3 Section--------------- */

.products3-left{
    background-image: url(assets/asset\ 5.jpeg);
}

.products3-right{
    background-image: url(assets/asset\ 12.jpeg);
}

/* ----------------Slider Section------------- */

.tvplus-section{
    width: 100%;
    height: 500px;
}

.slider-image{
    height: 92%;
    width: 80%;
    background-image: url(assets/asset\ 15.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
}




/* -----------------------Footer Section------------------------ */
.footer-section{
    background-color: #f5f5f7;
    height: fit-content;
    padding: 20px;
    color: #666667da;
    font-size: 12px;
}

.footer-text{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
}

.text-link{
    color: blue;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.footer-link{
    padding: 5px;
    cursor: pointer;
}

.link-header{
    font-weight: 500;
    color: #3a3a3a;
    padding-top: 25px;
    cursor:alias;
}

.links-footer{
    padding: 30px 0 20px;
}

.end-footer{
    padding: 20px 0 0;
}

.line1{
    justify-content: space-between;
    padding-bottom: 5px;
}
